flows.json
[{"id":"a5beff64.df94","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"364e3b06.24e524","type":"function","z":"a5beff64.df94","name":"PreToken","func":"global.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"e\",msg.payload.e)\nglobal.set(\"f\",msg.payload.f)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"j\",msg.payload.j)\nglobal.set(\"k\",msg.payload.k)\nglobal.set(\"l\",msg.payload.l)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"n\",msg.payload.n)\nglobal.set(\"o\",msg.payload.o)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"q\",msg.payload.q)\nglobal.set(\"r\",msg.payload.r)\n\nvar apikey=\"uOe2XDd_ccfOucYpuN-duhDUnWHN6nEYhlSd5ueMwP9i\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["1aa83be5.052ca4"]]},{"id":"1aa83be5.052ca4","type":"http request","z":"a5beff64.df94","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["72409b54.3f1784"]]},{"id":"a7f8c716.95aa38","type":"inject","z":"a5beff64.df94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.5,"y":230.00000286102295,"wires":[["364e3b06.24e524"]]},{"id":"7c609d82.e41f44","type":"debug","z":"a5beff64.df94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":869.0000152587891,"y":506.0000009536743,"wires":[]},{"id":"72409b54.3f1784","type":"function","z":"a5beff64.df94","name":"Pre Prediction","func":"var a=global.get('a')\nvar b=global.get('b')\nvar c=global.get('c')\nvar d=global.get('d')\nvar e=global.get('e')\nvar f=global.get('f')\nvar g=global.get('g')\nvar h=global.get('h')\nvar i=global.get('i')\nvar j=global.get('j')\nvar k=global.get('k')\nvar l=global.get('l')\nvar m=global.get('m')\nvar n=global.get('n')\nvar o=global.get('o')\nvar p=global.get('p')\nvar q=global.get('q')\nvar r=global.get('r')\n\n\nvar token=msg.payload.access_token\nvar instance_id=\"7e3fe6bf-63d2-444f-8279-f0e0d9d7163f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": ['status', 'adult_mortality', 'infant_deaths', 'alcohol',\n       'percentage_expenditure', 'hepatitis_b', 'measles', 'bmi',\n       'under-five_deaths', 'polio', 'total_expenditure', 'diphtheria',\n       'hiv/aids', 'gdp', 'thinness_1-19_years', 'thinness_5-9_years',\n       'income_composition_of_resources', 'schooling'], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]};\nreturn msg;","outputs":1,"noerr":0,"x":626.0000076293945,"y":297.00000381469727,"wires":[["f073603.3f687a"]]},{"id":"f073603.3f687a","type":"http request","z":"a5beff64.df94","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/7e3fe6bf-63d2-444f-8279-f0e0d9d7163f/deployments/5517f7dc-5123-4d2d-b808-634a9287f06c/online","tls":"","persist":false,"proxy":"","authType":"","x":814.5000076293945,"y":298.00000381469727,"wires":[["bc4986b1.ff01a8","da1c83d7.4ce2b"]]},{"id":"3e88d288.5ffa0e","type":"ui_text","z":"a5beff64.df94","group":"d22af5f7.944b68","order":5,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":652.6000595092773,"y":515.200005531311,"wires":[]},{"id":"da1c83d7.4ce2b","type":"function","z":"a5beff64.df94","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":882.6000595092773,"y":367.6000051498413,"wires":[["7c609d82.e41f44","3e88d288.5ffa0e"]]},{"id":"bc4986b1.ff01a8","type":"debug","z":"a5beff64.df94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":642.0000076293945,"y":183.0000057220459,"wires":[]},{"id":"5dc78477.c79c9c","type":"ui_form","z":"a5beff64.df94","name":"","label":"Input","group":"6a0a663b.d2a438","order":2,"width":0,"height":0,"options":[{"label":"Status","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"Under Five Deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":440,"wires":[["364e3b06.24e524"]]},{"id":"d22af5f7.944b68","type":"ui_group","z":"a5beff64.df94","name":"Prediction","tab":"dee99ecd.b3b87","order":2,"disp":true,"width":"5","collapse":false},{"id":"6a0a663b.d2a438","type":"ui_group","z":"","name":"Fill the Information","tab":"dee99ecd.b3b87","order":1,"disp":true,"width":"6","collapse":false},{"id":"dee99ecd.b3b87","type":"ui_tab","z":"","name":"Life Expectancy Prediction","icon":"dashboard","disabled":false,"hidden":false}]